@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?cln2vq');
    src: url('../fonts/icomoon.eot?cln2vq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?cln2vq') format('truetype'), url('../fonts/icomoon.woff?cln2vq') format('woff'), url('../fonts/icomoon.svg?cln2vq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram {
    &:hover {
        color: #d00b8a;
    }
    &::before {
        content: "\ea92";
    }
}

.icon-facebook2 {
    &:hover {
        color: #4072ff;
    }
    &::before {
        content: "\ea91";
    }
}

.icon-telegram {
    &:hover {
        color: #63a6f9;
    }
    &::before {
        content: "\ea95";
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?waak02');
    src: url('fonts/icomoon.eot?waak02#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?waak02') format('truetype'), url('fonts/icomoon.woff?waak02') format('woff'), url('fonts/icomoon.svg?waak02#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-external-link:before {
    content: "\e901";
    color: $local;
}

.icon-external-link-square:before {
    content: "\e900";
}

.icon-search:before {
    content: "\e986";
}

.icon-cloud-download:before {
    content: "\e9c2";
}

.icon-instagram {
    &:hover {
        color: #d00b8a;
    }
    &::before {
        content: "\ea92";
    }
}

.icon-facebook2 {
    &:hover {
        color: #4072ff;
    }
    &::before {
        content: "\ea91";
    }
}

.icon-telegram {
    &:hover {
        color: #63a6f9;
    }
    &::before {
        content: "\ea95";
    }
}