@import "vars";
@import "fonts";
@import "global";
@import "button";
@import "preloader";
.details-popup {
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    top: 0;
    &__title {
        text-align: center;
    }
    &__items {
        background-color: #fff;
        color: #444;
        margin-top: 20px;
        padding: 0px 20px 20px 40px;
        border-radius: 5px;
        list-style: disc;
    }
    &__item {
        list-style: disc;
        &+& {
            margin-top: 5px;
        }
    }
    &__item-title {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        padding: 25px 0;
    }
    .mfp-close {
        color: #fff;
        font-size: 35px;
    }
}

.header {
    background: rgba(#000, 0.7);
    padding: 20px 0;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__item {
        position: relative;
        display: inline-block;
        &+& {
            margin-left: 80px;
        }
        &:nth-child(2) {
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        &:nth-child(4) {
            animation-delay: 0.5s;
        }
    }
    &__link {
        text-transform: uppercase;
    }
}

.top {
    background-image: url(../images/top-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 200px 0 100px;
    &__inner {
        text-align: center;
        padding-top: 80px;
    }
    &__pretitle,
    &__text {
        font-size: 24px;
        line-height: 35px;
        text-transform: uppercase;
        color: $local;
        letter-spacing: 2px;
        font-weight: 700;
    }
    &__title {
        font-size: 75px;
        line-height: 80px;
        margin-bottom: 70px;
        text-transform: uppercase;
        margin: 75px 0;
    }
    &__text {
        margin-bottom: 80px;
        margin-top: 0px;
    }
    &__btns {
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__btn {
        &+& {
            margin-left: 20px;
        }
        font-weight: 700;
        color: $local;
        padding: 13px;
        width: 170px;
        text-align: center;
        position: relative;
        display: inline-block;
        overflow: hidden;
        max-width: 250px;
        text-transform: uppercase;
        border-radius: 5px;
        border: 1px solid currentColor;
        transition: all 0.4s;
        &:hover {
            color: #fff;
            span {
                width: 225%;
                height: 562.5px;
            }
        }
        span {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: $local;
            transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

.about {
    padding: 80px 0;
    color: #000;
    background-color: #efefef;
    &__text {}
}

.skills {
    background-image: url(../images/skill-bg.jpg);
    background-attachment: fixed;
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        width: 100%;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    &__text {
        margin-left: 20px;
        min-height: 82px;
        padding: 5px 5px 5px 20px;
        text-align: left;
        max-width: 475px;
        width: 100%;
        background-color: #5d5d5d;
        border-radius: 5px;
    }
    &__lines {
        width: 100%;
        margin-top: 50px;
        margin-left: 20px;
    }
    &__line-wrap {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #000;
        padding: 1px 2px;
        background-color: #444;
        &:nth-child(2) {
            margin: 125px 0;
        }
    }
    &__line {
        position: relative;
        border-radius: 5px;
        max-width: 85%;
        background-color: $local;
        height: 25px;
        text-align: center;
        animation: width-anim 5s;
        &-gulp {
            max-width: 75%;
        }
        &-js {
            max-width: 35%;
        }
    }
}

.works {
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item {
        position: relative;
        border-radius: 5px;
        max-width: 350px;
        width: 100%;
        height: 167px;
        background-size: contain;
        justify-content: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        transition: all 0.3s;
        &:hover::after {
            content: "";
            background: rgba(#000, 0.5);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border-radius: 5px;
        }
        &:hover {
            transform: scale(1.1);
            .works__link {
                opacity: 1;
            }
        }
    }
    &__link {
        font-family: "icomoon";
        opacity: 0;
        z-index: 2;
        font-size: 22px;
        line-height: 24px;
        color: #fff;
        background-color: #444;
        text-align: center;
        transition: all 0.3s;
        padding: 5px 50px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .icon-external-link::before {
        position: absolute;
        right: 12px;
    }
}

.footer {
    padding: 50px 0;
    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__social-item {
        display: inline-block;
        font-size: 30px;
        transition: all 0.3s;
        &+& {
            margin-left: 20px;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    &__btn {
        display: block;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.2);
        }
        &+& {
            margin-top: 10px;
        }
    }
}

@keyframes width-anim {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@import 'media';